<main class="container">
<div class="jumbotron mt-4">
  <h1 class="display-4">GIS</h1>
  <p class="lead">Sistema de información geográfica para epidemiología - Integración en salud</p>
  <hr class="my-4">
  <p>Cada paciente es ingresado en un formato estandarizado para poder obtener la latitud y longitud de su lugar de vivienda.</p>
  <p>Estos datos luego pueden ser tomados de un GIS y asociados con las patologías que se presenten representar.</p>
  <p>Es una aplicación igual a la que se utilizó en 1861 por el Dr. Snow para controlar la epidemia de cólera que castigaba la ciudad de Londres.</p>
  <a href="/user/singin" class="btn btn-primary btn-lg">Ingresar</a>
</div>
</main>
